
.about-section ul, .project-section ul {
    list-style-type: none;
}

.about-header {
  cursor: pointer
}

.about-text {
  display: none;
}

.action-btn {
  position: absolute;
  bottom: 10%;
  left: 45%;
}

.photo-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

/* Handles the bouncing animation on landing section */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* CSS for larger screens ex laptops, desktops */
@media (min-width: 1024px) {
  .landing-section {
    background-image: url(../img/two_dans4.png);
  }

  .about-section {
    background-image: url(../img/mountain_dan.jpg);
  }

  .about-column {
    flex-basis: 33%;
  }

  .about-text-container {
    display: flex;
    flex-wrap: nowrap;
    margin:auto;
    text-align: center;
    padding: 125px 0 0 0;
    width: 85%;
  }

  .about-header {
    color: white;
    font-size: 48px;
  }

  .about-text {
    color: white;
    font-size: 24px;
  }

  .about-text li {
    margin-top: 35px;
  }

  /* CSS for projects section */

  .project-section {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50% 50%;
  }

  .sga-proj-pic1 {
    background-image: url(../img/sga_proj_pic1.png);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .sga-proj-pic2 {
    background-image: url(../img/sga_proj_pic2.png);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .sga-proj-pic3 {
    background-image: url(../img/sga_proj_pic3.png);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .sga-proj-pic1:hover, .sga-proj-pic2:hover, .sga-proj-pic3:hover {
      -webkit-filter: brightness(70%);
  	-moz-filter: brightness(70%);
  	-o-filter: brightness(70%);
  	-ms-filter: brightness(70%);
  	filter: brightness(70%);
  }
  .sga-proj-desc {
    background-color: #e3e9ed;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .sga-proj-desc p {
    font-size: 16px;
    margin: auto;
    width: 85%;
  }

  .sga-proj-header {
    font-size: 40px;
    padding: 75px 0 25px 0;;
    text-align: center;
  }

  .sga-proj-subheader {
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0 25px 0;
    text-align: center;
  }

  /* End of projects section css */

  .landing-action-btn {
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display: block;
    position: absolute;
    bottom: 20%;
    left: 45%;
  }

  .section {
    min-height: 875px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}
