.landing-section {
  background-image: url(../img/two_dans4.png);
}

.about-section {
  background-image: url(../img/mountain_dan.jpg);
}

.about-section ul {
    list-style-type: none;
}

.about-header {
  cursor: pointer
}

.about-text {
  display: none;
}

.action-btn {
  position: absolute;
  bottom: 10%;
  left: 45%;
}

.photo-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

/* Handles the bouncing animation on landing section */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@media (min-width: 1024px) {
  .about-column {
    flex-basis: 33%;
  }

  .about-text-container {
    display: flex;
    flex-wrap: nowrap;
    margin:auto;
    text-align: center;
    padding: 125px 0 0 0;
    width: 85%;
  }

  .about-header {
    color: white;
    font-size: 48px;
  }

  .about-text {
    color: white;
    font-size: 24px;
  }

  .about-text li {
    margin-top: 35px;
  }

  .landing-action-btn {
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display: block;
    position: absolute;
    bottom: 20%;
    left: 45%;
  }

  .section {
    min-height: 875px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}
